<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="KCI_BasicUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <KCI_BasicUI.Properties.Settings>
            <setting name="MainThreadDone" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoInstall" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="KavSetupURL" serializeAs="String">
                <value />
            </setting>
            <setting name="KavEditionToInstall" serializeAs="String">
                <value />
            </setting>
            <setting name="KavSecureConnection" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="KavLicenseUrl" serializeAs="String">
                <value />
            </setting>
        </KCI_BasicUI.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Mono.Cecil" publicKeyToken="50cebf1cceb9d05e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.11.4.0" newVersion="0.11.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
