<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="KCIBasic.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <userSettings>
        <KCIBasic.Properties.Settings>
            <setting name="MainThreadDone" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoInstall" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="KavSetupURL" serializeAs="String">
                <value>https://products.s.kaspersky-labs.com/spanish/homeuser/kis2018/for_reg_es/startup.exe</value>
            </setting>
            <setting name="KavEditionToInstall" serializeAs="String">
                <value>Kaspersky Internet Security</value>
            </setting>
            <setting name="KavSecureConnection" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="KavLicense" serializeAs="String">
                <value />
            </setting>
            <setting name="KavLicenseURL" serializeAs="String">
                <value>https://github.com/bitasuperactive/KCIBasic/releases/download/pre-release/Licencias.txt</value>
            </setting>
        </KCIBasic.Properties.Settings>
    </userSettings>
</configuration>
