<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="github" value="https://nuget.pkg.github.com/bitasuperactive/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="bitasuperactive" />
            <add key="ClearTextPassword" value="5457006c30469a438e467a97ff9ef2db62f50b38" />
        </github>
    </packageSourceCredentials>
</configuration>